@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin: 0;  
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

#existing-objects {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-element {
    margin: 0;
    cursor: pointer;
}

.list-element.selected {
    background-color: yellow;
}

#object-creation {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
